h1,h2{
font-family: Verdana, Geneva, Arial;
color:#CC6660
}

html{
font-size: 12px;
}

body{
font-family: Verdana, Geneva, Arial;
padding:0px;
margin: 0px;


}

h1{
font-size: 2.2em;
border-bottom: thin dotted #888888;
}

h2{
font-size: 1.3em;
font-weight: normal;
border-bottom: thin dotted #888888;
}

blockquote{
font-style: italic;
}

*{
padding:0px;
margin:0px;

}